<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ page.content | truncate: 120 | strip_html }}">
{% if site.twitter.handle %}<meta name="twitter:site" content="@{{ site.twitter.handle }}">{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
{% if page.link %}
<meta name="twitter:card" content="player">
<meta name="twitter:image" content="{{ site.url }}/public/images/2020AllStars-LASkyline-sm.png">

{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/public/images/{{ page.image.thumb }}{% else %}{{ site.url }}/public/images/2020AllStars-LASkyline-sm.png{% endif %}">
{% endif %}
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.language }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ page.content | truncate: 120 | strip_html }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">